<!--================Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-6 col-xl-5 offset-xl-7">
          <div class="banner_content">
            <h3>Revolucione seu<br />Negócio</h3>
            <p>
              Precisa de uma ferramenta para seu negócio? Amplie seus horizontes, entre em contato conosco e
              garanta já o melhor em software para a sua empresa.
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Service  Area =================-->
<section class="service-area area-padding">
  <div class="container">
    <div class="row">
      <!-- Single service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="service-icon">
            <i class="ti-pencil-alt"></i>
          </div>
          <div class="service-content">
            <h5>Planejamento</h5>
            <p>
              Está precisando de mais comodidade? Entre em contato conosco para fazer um levantamento de
              requisitos para o seu negócio.
            </p>
          </div>
        </div>
      </div>

      <!-- Single service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="service-icon">
            <i class="ti-image"></i>
          </div>
          <div class="service-content">
            <h5>Soluções de Negócio</h5>
            <p>
              Tenha sempre em mãos todos os dados e relatórios do seu negócio sem precisar de muito esforço.
            </p>
          </div>
        </div>
      </div>


      <!-- Single service -->
      <div class="col-md-6 col-lg-4">
        <div class="single-service">
          <div class="service-icon">
            <i class="ti-headphone-alt"></i>
          </div>
          <div class="service-content">
            <h5>Suporte ao Cliente</h5>
            <p>
              Surgiu uma nova necessidade no seu negócio? Nossa equipe está sempre pronta para lhe atender,
              entre em contato conosco.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!--================Service Area end =================-->


<!--================About  Area =================-->
<section class="about-area area-padding-bottom">
  <div class="container">
    <div class="row align-items-center">

      <div class="col-lg-6">
        <div class="area-heading">
          <h4>Um pouco mais sobre a<br>JSON Software</h4>
          <h6>Empresa genuinamente araguainense</h6>

          <p>
            A JSON Software é uma empresa genuinamente araguainense, especializada no desenvolvimento de softwares
            complexos para oferecer sempre o que há de melhor em qualidade e segurança para os seus clientes.
          </p>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="single-about">
              <div class="about-icon">
                <i class="ti-thought"></i>
              </div>
              <div class="single-about-content">
                <h5>Cloud Computing</h5>
                <p>
                  Nós cuidamos dos seus dados, tenha eles sempre protegidos na núvem.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="single-about">
              <div class="about-icon">
                <i class="ti-truck"></i>
              </div>
              <div class="single-about-content">
                <h5>Entrega Contínua</h5>
                <p>
                  Nós da JSON estamos sempre entregando novas ferramentas e funcionalidades para você.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================About Area End =================-->

<!--================Feature  Area =================-->
<section class="feature-area area-padding bg_one">
  <div class="container">
    <div class="row align-items-center">

      <div class="offset-lg-6 col-lg-6">
        <div class="area-heading light">
          <h4>Aplicações Mobile</h4>
          <p></p>
        </div>
        <div class="row">
          <div class="col-">
            <div class="single-feature d-flex">
              <div class="feature-icon">
                <i class="ti-layers"></i>
              </div>
              <div class="single-feature-content">
                <h5>Sob demanda?</h5>
                <p>
                  Tenha o seu próprio aplicativo para Android, IOs e Windows Phone
                </p>
              </div>
            </div>
          </div>
          <div class="col-">
            <div class="single-feature d-flex">
              <div class="feature-icon">
                <i class="ti-layers"></i>
              </div>
              <div class="single-feature-content">
                <h5>Aplicativo Genérico?</h5>
                <p>
                  Precisa gerenciar seus estoques? Adquira agora mesmo uma licença no nosso app.
                </p>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Feature Area End =================-->


<!--================About  Area =================-->
<section class="statics-area area-padding">
  <div class="container">
    <div class="row">

      <div class="col-lg-5">
        <div class="image-box">
          <img src="assets/img/banner/about3.png" alt="">
        </div>
      </div>

      <div class="offset-lg-1 col-lg-6">
        <div class="area-heading">
          <h4>Tenha o controle<br>SEMPRE.</h4>
          <h6>Que tal ver seus lucros em gráficos?</h6>

          <p>
            Precisa ficar sempre atualizado sobre sua empresa mas não quer ficar lendo várias tabelas?
            Nós oferecemos seus relatórios em gráficos, para facilitar ainda mais a sua vida.
          </p>
        </div>
        <div class="single-data">
          <i class="ti-check-box"></i>
          <p>Faça muito mais</p>
        </div>
        <div class="single-data">
          <i class="ti-ruler-pencil"></i>
          <p>Tenha os melhores dados</p>
        </div>

      </div>
    </div>
  </div>
</section>
<!--================About Area End =================-->

<!--================ Start Brands Area =================-->
<!-- <section class="brands-area area-padding-bottom">
  <div class="container">
    <br>
    <h3 class="text-center">Nossos Clientes</h3>
    <br>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="owl-carousel brand-carousel">
          <div class="single-brand-item d-table">
            <div class="d-table-cell">
              <img src="assets/img/logo/1.png" alt="">
            </div>
          </div>
          <div class="single-brand-item d-table">
            <div class="d-table-cell">
              <img src="assets/img/logo/2.png" alt="">
            </div>
          </div>
          <div class="single-brand-item d-table">
            <div class="d-table-cell">
              <img src="assets/img/logo/3.png" alt="">
            </div>
          </div>
          <div class="single-brand-item d-table">
            <div class="d-table-cell">
              <img src="assets/img/logo/4.png" alt="">
            </div>
          </div>
          <div class="single-brand-item d-table">
            <div class="d-table-cell">
              <img src="assets/img/logo/5.png" alt="">
            </div>
          </div>
          <div class="single-brand-item d-table">
            <div class="d-table-cell">
              <img src="assets/img/logo/3.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!--================ End Brands Area =================-->

<div class="row">
  <div class="col-md-12 text-center">
    <div class="col-12">
      <h2 class="contact-title">Entre em contato com a gente</h2>
    </div>
    <div class="col-lg-12">
      <form class="form-contact contact_form" novalidate="novalidate" [formGroup]="form">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <textarea class="form-control w-100" cols="30" rows="9" formControlName="message"
                placeholder="Mensagem..."></textarea>
              <small *ngIf="(form.controls.message.invalid && !form.controls.message.pristine)"
                class="text-danger">Campo inválido</small>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input class="form-control" type="text" formControlName="name" placeholder="Nome...">
              <small *ngIf="(form.controls.name.invalid && !form.controls.name.pristine)"
                class="text-danger">Campo inválido</small>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <input class="form-control" type="email" formControlName="email" placeholder="E-mail...">
              <small *ngIf="(form.controls.email.invalid && !form.controls.email.pristine)"
                class="text-danger">Campo inválido</small>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <input class="form-control" type="text" formControlName="subject" placeholder="Assunto...">
              <small *ngIf="(form.controls.subject.invalid && !form.controls.subject.pristine)"
                class="text-danger">Campo inválido</small>
            </div>
          </div>
        </div>
        <div class="form-group mt-3">
          <button type="submit" (click)="submit()" class="button button-contactForm">ENVIAR MENSAGEM</button>
        </div>
      </form>
    </div>
  </div>
</div>