<!-- ================ start footer Area ================= -->
<footer class="footer-area">
  <div class="container">
    <div class="row">
      <div class="col-md-4 single-footer-widge">
        <h4>Contato</h4>
        <div class="footer-address">
          <p>Araguaína/Brasil</p>
          <span>Telefone: (99)9 8158-4459</span>
          <span>Telefone: (99)9 8158-4459</span>
          <span>E-mail: jsonsoftware@contato.com.br</span>
        </div>
      </div>
      <div class="col-md-4 single-footer-widge">
        <h4>Serviços</h4>
        <div class="footer-address">
          <span>Apps Mobile</span>
          <span>Sistemas Web</span>
          <span>Aplicações Desktop</span>
        </div>
      </div>
      <div class="col-md-4 single-footer-widget">
        <h4>Redes Socias</h4>
        <ul>
          <li><a href="https://www.facebook.com" target="_blank"><i class="ti ti-facebook"></i> Facebook</a></li>
          <li><a href="https://www.instagram.com" target="_blank"><i class="ti ti-instagram"></i> Instagram</a></li>
          <li><a href="https://www.twitter.com" target="_blank"><i class="ti ti-twitter"></i> Twitter</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom row align-items-center text-center text-lg-left no-gutters">
      <p class="footer-text m-0 col-lg-8 col-md-12">
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;
        <script>document.write(new Date().getFullYear());</script> Todos os Direitos Reservados | <a>JSON Software</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </p>
      <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
        <a href="#"><i class="ti-facebook"></i></a>
        <a href="#"><i class="ti-twitter-alt"></i></a>
        <a href="#"><i class="ti-dribbble"></i></a>
        <a href="#"><i class="ti-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- ================ End footer Area ================= -->
